:root {
    --font: monospace;
    --color: navy;
}

* {
    font-family: var(--font);
    justify-content: center;
    background-color: blanchedalmond;

}

h1 {
    display: flex;
    text-align: center;
    font-style: var(--font);
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
}

.btn {
    background-color: lightblue;
    color: black;
    font-size: 2rem;
    
}